{% set users = salt['grains.filter_by']({
  'CentOS': {
    'sudoers_dir': '/etc/sudoers.d',
    'sudoers_file': '/etc/sudoers',
    'root_group': 'root',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
    'ssh_pkg':'ssh'
},
'Ubuntu': {
    'sudoers_dir': '/etc/sudoers.d',
    'sudoers_file': '/etc/sudoers',
    'root_group': 'root',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
    'ssh_pkg':'openssh'
},
}, merge=salt['pillar.get']('salt-formula-users:lookup')) %}
